# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dominik\OneDrive - Dr. Sievert & Partner\Dokumente\Projects\Minecraft\Plugins\WarpBook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
